<div class="col-xs-12">

  <!-- Spinning icon to show when waiting for server response -->
  <div class="loader" ng-if="loading"></div>

  <!-- Only Show the table if there are items in it -->
  <table class="table" ng-if="items.length > 0">

    <!-- Header Row -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <!-- Menu Item Rows -->
    <tbody>
      <tr ng-repeat="item in items">
        <td>{{item.name}}</td>
        <td>{{item.short_name}}</td>
        <td>{{item.description}}</td>
        <td><button ng-click="onRemove({index: $index});">Don't want this one!</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Place to show a message if necessary -->
  <p><strong>{{message}}</strong></p>
</div>