<div class="col-xs-12">

  <!-- Only Show the table if there are items in it -->
  <table class="table" ng-if="items.length > 0">

    <!-- Header Row -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <!-- Menu Item Rows -->
    <tbody>
      <tr ng-repeat="item in items">
        <td>{{item.name}}</td>
        <td>{{item.short_name}}</td>
        <td>{{item.description}}</td>
        <td><button ng-click="onRemove({index: $index});">Don't want this one!</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Only show the nothing found message if narrow was clicked and nothing was found -->
  <p ng-if="showNothingFound"><strong>Nothing found</strong></p>
</div>